.about{
  padding-top: 25px;

  background-color: black;

  padding-bottom: 50px;
  border-bottom: 7px solid #ff641a;

&__content{

}
&__photo{
  opacity: 0.65;
  width: 100%;
  img{
    border: 8px solid white;
    width: 50%;
    display: none;
    @mixin atMedium{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
&__text{
  @mixin atMedium{

    margin-top: -50px;
  }
  @mixin atLarge{
    /*margin-top: -20px;*/
  }

}
&__title{
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 20px;
  @mixin atSmall{
    margin-bottom:70px;
    font-size: 2rem;
  }
  @mixin atMedium{
    font-size: 2.4rem;
    text-align: left;
  }

}
&__description{

    text-align: left;
  font-size: 1rem;
  color: #fff;
  @mixin atSmall{
    font-size: 1.5rem;
  }
  @mixin atMedium{
    line-height: 1.25;
    /*margin-top: 50px;*/
    text-align: left;
    max-width: 650px;
  }
  @mixin atLarge{
    margin-top: 50px;


  }
}

}
