.about{
  /* overflow: hidden; */
/* position: relative; */
/* background: rgba(230,230,230,1); */
background: white;
  border-bottom: 7px solid #49516F;
  padding: 20px 0;

  @mixin atSmall{
    padding: 40px 0;
  }
  @mixin atMedium{
    padding-top: 40px;
    padding-bottom: 60px;
  }
  @mixin atLarge{

  }
  &__title{
    z-index: 300;
    font-size: 2rem;
      color: #49516F;
    @mixin atSmall{
      font-size: 2.4rem;
      margin-bottom: 35px;
    }
    @mixin atMedium{
      margin-bottom: 50px;
    }
    @mixin atExtraLarge{
      font-size: 4.2rem;
    }

  }
  &__text{
color:black;
    font-size: 1.2rem;
    width: 100%;
    @mixin atSmall{
        font-size: 1.5rem;
    }
  @mixin atMedium{
    max-width: 700px;
    margin: auto;
  }
  @mixin atLarge{
    font-size: 1.4rem;
    max-width: 900px;
    font-weight:500;
  }
  @mixin atExtraLarge{
    font-size: 1.8rem;
    max-width: 1100px;
    padding-bottom: 10px;
  }
  }
  &__description{
    line-height: 1.35;
    text-align: center;
    span{
      color: #49516F;
    }
  @mixin atMedium{
    padding: 10px 0;
  }
  /* @mixin atExtraLarge{
    font-size: 2.3rem;
  } */
  }
}
