
.contact{
  padding: 100px 0;
  display: block;
  visibility: visible;
  z-index: 5;
  border-top: 7px solid #ff641a;
  background: black;
  min-height: 350px;


  &__inner{

  }
  &__title{
    margin-top: 0;
    font-size: 2rem;

    color: white;
    @mixin atLarge{
      font-size: 3.2rem;
    }
    @mixin atExtraLarge{
      padding: 25px 0;

    }
  }
  &__description{
    margin: 25px;
    color: white;
    font-size: 1.1rem;
    @mixin atLarge{
      font-size: 2rem;
    }
    @mixin atExtraLarge{

    }
  }
}
.social-icons{
  &__icon{
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    transform: scale(1);
    display: inline-block;
      transition: all .3s linear;
      @mixin atLarge{
        font-size: 3.2rem;
      }
      @mixin atExtraLarge{
        padding: 35px;
      font-size: 4rem;
      }
  }
  &__icon:hover{
    transition: all .3s linear;
    color: #ff641af2;;
    transform: scale(1.2);
  }
  &__mail{
    color: #fff;
    font-size: 1.5rem;
    max-width: 260px;
    transition: all .3s linear;
    margin: auto;
    @mixin atExtraLarge{
      padding: 25px 0;
      font-size: 2rem;
    }
  }
  &__mail:hover{
    color: #ff641af2;;
    transition: all .3s linear;
    transform: scale(1.2);
  }

}
