.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 45px;
  background-color:rgba(0, 0, 0, 0.9);
  @mixin atMedium{
    height: 75px;
  }
  button{
    background: none;
    border: none;

  }
  &__hamburger-button{
    width: 20px;
    height: 19px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    &::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background: white;
    transform-origin: 0 0 ;
    transition: transform .3s ease-out;
    }
    &--middle{
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background: white;
    transition: all .3s ease-out;
    transform-origin: 0 50%;
    }
    &::after{
      content: "";
    position: absolute;
    bottom:0px;
    left: 0;
    width: 20px;
    height: 3px;
    background: white;
    transform-origin: 0 100%;
    transition: transform .3s ease-out;
    }
    @mixin atMedium{
      display: none;
    }
    &--close-x{
      &::before{
        transform:rotate(45deg) scaleX(1.25);
      }
      .header__hamburger-button--middle{
        opacity: 0;
        transform: scaleX(0);
      }
      &::after{
        transform:rotate(-45deg) scaleX(1.25) translateX(-1px);
      }
    }
  }
}
