.home{
  background:#000 url("../../assets/images/stars.png") repeat top center;
  /* animation:move-twink-back 500s linear infinite; */
  min-height: 100vh;
  position: relative;

&__content{
  animation:fadeIn .9s forwards;
  animation-delay: 2.5s;
  max-width: 265px;
  opacity: 0;
  position: absolute;
  left: 20%;
  top:30%;
  transform: translate(-15%,-15%);

  @mixin atSmall{
    top:30%;
    left: 25%;
  }
  @mixin atMedium{
    top: 25%;
    left: 40%;
    max-width: 550px;
  }
}
&__title{
  font-size:1.2rem;
  color: white;
  span{
    display: inline-block;
    color: #49516F;

  }
  @mixin atSmall{
    font-size: 2rem;
  }
  @mixin atMedium{
    font-size: 2.2rem;
  }
}
&__subtitle{
  font-weight: bold;
  font-size: 1rem;
  color: #49516F;
  @mixin atSmall{
    font-size: 1.5rem;
  }
  @mixin atMedium{
    font-size: 2rem;
  }
}
}

/* Animatioon */
@keyframes move-twink-back {

    from {
      background-position:0 0;}
    to {
      background-position:-10000px 5000px;}
}

@keyframes fadeIn {
  100%{
    opacity: 1;
  }
}
