.modal{
  display: none;
  text-align: center;
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &__box{
    display: flex;
    background: white;

    margin: 10px auto;
    img{
    width: 3%;
    height: 3%;


    }
    p{
      width: 90%;
      text-align: left;
    }
  }
}
