.primary-nav {
  &__ul {
    display: block;
    transform: translate(0);
    transition: all .3s linear;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.96;
    @mixin atMedium {
      display: block;
      position: relative;
      background: none;
      text-align: right;
      transform: translate(0);
      transition: all 0.3s linear;
    }
    li {
      margin-top: 5px;
      padding-top: 8px;
      padding-bottom: 12px;
      display: block;
      @mixin atMedium {
        margin-top: 20px;
        text-align: right;
        display: inline-block;
        width: 15%;
        margin-right: 15px;
      }
      a {
        text-align: center;
        display: block;
        color: rgb(48, 79, 144);
        text-decoration: none;
        letter-spacing: 0.5px;
        @mixin atMedium {
          font-weight: bold;
          color: rgb(48, 79, 144);
        }
      }
      a:hover {
        font-weight: bold;
        color: rgb(31, 41, 61);
        transform: scale(1.05);
      }
    }
    li:last-child {
      margin-bottom: 5px;
    }
    &--hidden {
      transform: translateY(-1000px);
      transition: all .3s linear;
      @mixin atMedium {
        display: block;
        position: relative;
        background: none;
        text-align: right;
        transform: translate(0);
        transition: all 0.3s linear;
      }
    }
  }
}
