.primary-nav {

  &__ul {
    display: block;
    transform: translate(0);
    transition: all .3s linear;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: black;


    @mixin atMedium{
      display: block;
      position: relative;
      background: none;
      text-align: right;
      transform: translate(0);
      transition: all 0.3s linear;
    }

    li {
      margin-top: 5px;
      padding-top: 8px;
      padding-bottom: 12px;
      display: block;
      @mixin atMedium {
        margin-top: 20px;
        text-align: right;
        display: inline-block;
        width: 15%;
        margin-right: 10px;
      }
      a {
        text-transform: uppercase;
        display: block;
        color: white;
        text-decoration: none;
        letter-spacing: 0.5px;
        &.is-current-link{
          color:#ff641a;
          transform:scale(1.09);
          font-weight: bold;
        }
      }
    }
    li:last-child{
      margin-bottom: 5px;
    }
    &--hidden {
      transform: translateY(-1000px);
      transition: all .3s linear;
      @mixin atMedium {
        display: block;
        position: relative;
        background: none;
        text-align: right;
        transform: translate(0);
        transition: all 0.3s linear;
      }
    }

  }
}
