.projects {
  padding: 100px 0;
  background: #161616;
    background: linear-gradient(180deg, #161616, #414345);
  &__title {
    margin-top: -20px;
    text-align: center;
    color: white;
    font-size: 2rem;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 50px 0;
  }
  &__box-title {
    color: white;
    font-size: 1.2rem;
  }
  &__img {
    width: 90%;
    margin: auto;
    opacity: 0.85;
    @mixin atSmall {
      max-width: 60%;
      @mixin atMedium {}
    }
  }
  &__button {
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
    width: 48%;
    display: inline-block;
    background-color: white;
    @mixin atLarge{
      width: 49%;
    }
    a {
      text-decoration: none;
      color: black;
      padding: 0 25px;
      @mixin atLarge{
        padding: 0 30px;
      }
      @mixin atExtraLarge{
        padding: 0 40px;
      }
    }

  }
  &__button:hover {
    opacity: 1;
    transform: scale(1.04);
  }
  &--hidden {
    @mixin atMedium {
      transition: all 3s linear;
      transform: translateX(-300px);
    }
  }
  &--active {
    transform: translateX(0);
    display: block;
    opacity: 1;
    transition: all 3s linear;
  }
}

.projects__subtitle {
  span {
    display: inline-block;
    padding: 10px 0;
    width: 25%;
    margin: 0 auto 15px;
    background: white;
    font-weight: bolder;
  }
}

.projects__description {
  color: #ff641a;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 25px;
  max-width: 370px;
  margin: auto;
}
