.shape1 {
  overflow: hidden;
  position: absolute;
  top: -160px;
  right: 0;
  width: 105%;
  height: 30vh;
  background: white;
  border-top-left-radius: 100%;
  z-index: 0;
  opacity: 1;
  @mixin atSmall {
    width: 115%;
    height: 30vh;
  }
}

.shape2 {
  overflow: hidden;
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 95%;
  height: 42vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(181, 183, 222, 1) 28%, rgba(181, 183, 222, 1) 51%, rgba(194, 142, 194, 1) 83%, rgba(194, 142, 194, 1) 93%, rgba(194, 142, 194, 1) 98%, rgba(194, 142, 194, 1) 100%);
  border-top-left-radius: 100%;
  z-index: 0;
  opacity: 0.5;
  @mixin atSmall {
    width: 90%;
    height: 50vh;
  }
}

.shape3 {
  overflow: hidden;
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 75%;
  height: 50vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(181, 183, 222, 1) 28%, rgba(181, 183, 222, 1) 51%, rgba(194, 142, 194, 1) 83%, rgba(194, 142, 194, 1) 93%, rgba(194, 142, 194, 1) 98%, rgba(194, 142, 194, 1) 100%);
  border-top-left-radius: 100%;
  z-index: 0;
  opacity: 0.5;
  @mixin atSmall {
    width: 70%;
    height: 65vh;
  }
}
